* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    /*font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
    font-family: "JetBrainsMono Nerd Font Mono";    /* , "Cantarell", "Liberation Mono"; */
    /* font-size: 18px; */
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left, .modules-center {
    opacity: 1;
    /* background: linear-gradient(45deg, rgb(214, 39, 200), rgb(5, 83, 252)); */
    border-radius: 0.5rem;
    padding: 2px;
}

.modules-right {
    opacity: 1;
    /* background-color: rgba(0,0,0,0.5); */
    border-radius: 0.5rem;
    padding: 2px 2px 2px 10px
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #383c4a;
}

#workspaces button {
    transition: none;
    color: #FFFFFF;
    background: transparent;
    padding: 5px;
    font-size: 18px;
}

#workspaces button.persistent {
    color: #FFFFFF;
    font-size: 12px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    color: green;
    /* TODO check this selector */
}

#workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -3px #FFFFFF;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}


#window{
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}


#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu,
#memory
{
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    background: #383c4a;
    color: #FFFFFF;
}


#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#temperature {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#backlight {
    margin-right: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #383c4a;
    color: #FFFFFF;
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
}

#idle_inhibitor.activated {
    background-color: #383c4a;
    color: #FFFFFF;
    border-bottom: 1px solid white;
}

#language {
    color: #FFFFFF;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #383c4a;
    padding: 0 5px;
    margin: 0 5px;

}

#keyboard-state {
    margin-right: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(255, 0, 0, 0.5);
    /* margin-right: 1px;
    padding-left: 8px;
    padding-right: 8px;
    */
    /* border-radius: 10px;  */
    transition: none;
    color: #ffffff; 
}

#power-profiles-daemon {
    margin-right: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;    
}

#power-profiles-daemon.performance {
    background-color: #972020;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #195a86;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #198d49;
    color: #000000;
}

#custom.swaync {
    margin-right: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#custom-swaync {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#custom-power {
    margin-right: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

tooltip {
  border-radius: 4px;
  border-color: #BF40BF;
  background: rgba(0,0,0,0.9);
  padding: 10px;
/*	background: url("/tmp/cover.jpg") rgba(0,0,0,0.9);
	background-size: contain;
	background-repeat: no-repeat;
*/
}
